<div class="row errors">
  <div class="small-9 column">
  
  </div>
</div>

<div class="row">
  <div class="small-10 column">
    <div id="challenge_details">
      <%= render partial: "challenge_details", locals: { challenge: @challenge } %>
    </div>
  </div>
  <div class="small-2 column">
    
  </div>
</div>

<div id="milestones" >
  <% if @milestones.size == 0 %>
    <div class="row">
      <div class="small-9 column">
        <p>
          No milestones finished yet. ;(
        </p>
      </div>
    </div>
  <% else %>
    <%= render partial: "front/milestones/milestone", collection: @milestones, locals: { challenge: @challenge, is_owner: @is_owner, is_mentor: @is_mentor } %>
  <% end %>
</div>