<div class="row">
  <% if milestone.completed_at.nil? %>
    <div class="small-3 column">
      <% if @is_owner %>
        <%= link_to "complete now?", front_challenge_milestones_path(challenge), remote: true, method: "post" %>
      <% end %>
    </div>
    <div class="small-9 column">
    <% if milestone.name %>
      <%= 'Milestone \"#{milestone.name}\" still has to be finished' %>
    <% else %>
      <%= "Milestone No. #{milestone_counter} still has to be finished" %>
    <% end %>
  </div>
<% else %>
    <div class="small-3 column">
    </div>
    <div class="small-9 column">
      <%= "Milestonen No. #{milestone_counter} was finished on: " + milestone.completed_at.strftime("%e. %B %Y") %>
    </div>
  <% end %>
</div>