<div class="box">
  <h2>
    Challenge settings:
  </h2>

  <%= simple_form_for [:front, challenge, challenge_setting] do |f| %>

    <%= f.input :daily_email %>
    <%= f.input :weekly_email %>
    <%= f.button :submit %>
  <% end %>
</div>