

<h1>Select an available challenge type:</h1>

<div class="row">
  <div class="column large-9">
    <p>I want to create a new:</p>
  </div>
</div>
<div class="row">
  <div class="column large-9">
    <%= link_to "Running Challenge", new_front_challenge_path, class: "button" %>
  </div>
</div>
<div class="row">
  <div class="column large-9">
    <%= link_to "Learning Challenge", new_front_learning_challenge_path, class: "button"  %>
  </div>
</div>