<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Can you help <%= @invite.challenge.user.email %> to finish his challenge on shameorfame?</h1>

    For that please go to <%= link_to 'your friends challenge', invited_create_url(@invite.token) %>

  </body>
</html>