<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <p>You received the following message from </p><%= @message.sender.email %>
    <div>
      <%= @message.text %>
    </div>

  </body>
</html>