
<h1>Now invite friends to support you in your challenge</h1>

<%= simple_form_for [@challenge, @user_relation] do |f| %>
  <%= f.input :email %>
  <%= f.input :challenge_id, as: :hidden, input_html: { value: @challenge.id } %>
  <%= f.button :submit %>
<% end %>