// Place all the styles related to the challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #FCE0D4;
  padding: 25px;
}

.second_layer {
  background: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
}

.box {
  background: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 8px;
  padding: 10px;
  margin: 0px;
  width: auto;
}

.active {
  background: #4A90E2 !important;

}

.hidden {
  display: none ;

}


.button_box {
  margin: 20px 20px 20px 0px;

}