// Place all the styles related to the challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #984AE2;
}

.second_layer {
  background: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
}

.active {
  background: #4A90E2 !important;

}

.button {
  
  
}

.hidden {
  display: none ;

}