// Place all the styles related to the user_relations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row.invite-box {
  background: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;  
  height: 85px;
}