
<h2>
  Challenge settings:
</h2>

<div class="switch">
  <% if challenge.challenge_setting.daily_email %>
    <input id="daily_email" type="checkbox" checked></input>
    <label for="daily_email">Daily email:</label>
  <% else %>
    <input id="daily_email" type="checkbox"></input>
    <label for="daily_email">Daily email:</label>
  <% end %>
</div>
<div class="switch">
  <% if challenge.challenge_setting.weekly_email %>
      <input id="weekly_email" type="checkbox" checked></input>
    <label for="weekly_email">Weekly email:</label>
  <% else %>
      <input id="weekly_email" type="checkbox" ></input>
    <label for="weekly_email">Weekly email:</label>
  <% end %>
</div>



